swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: unset;
  font-size: 18px;
  background: rgb(0, 0, 0);
  color: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-road .swiper-slide img {
  display: block;
  width: 80%;
  height: 100%;
  object-fit: cover;
}
.road-content {
  background: linear-gradient(270deg, #000000 0%, #303030 100%);
  padding-left: 20%;
  padding-bottom: 12%;
  padding-top: 12%;
  height: 400px;
}
.road-content p {
  text-align: initial !important;
  text-decoration: dashed;
}
.road-content h1 {
  text-align: initial !important;
}
.road-head {
  padding-top: 2%;
}
.road-head h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 107%;
  /* identical to box height, or 107px */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.road-head p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  line-height: 15px;

  text-align: center;

  color: #ffffff;
}

.road-p p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  line-height: 15px;

  text-decoration: dotted;

  color: #ffffff;
  list-style: disc outside none;
  display: list-item;
}

.road-p {
  padding-top: 5%;
}
.swiper-road{
  padding-top: 4%;
}
