.react-tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;

  color: white;
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 170px;
  margin: 0;
  padding: 0;
  color: white;
}

.react-tabs__tab {
  height: 103px;
  list-style: none;
  padding: 12px 6px;
  cursor: pointer;
  text-align: center;
  color: rgb(255, 255, 255);
  background: linear-gradient(180deg, #303030 0%, #131313 100%);
  border-radius: 10px;
  width: 120%;
}
.react-tabs__tab h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 107%;
  /* or 53px */

  text-transform: uppercase;

  color: #ffffff;
}
.react-tabs__tab--selected {
  background: linear-gradient(180deg, #303030 0%, #131313 100%);
  border-radius: 10px;
  border-color: #1c1d1f;
  border-left: 4px solid #ff00d6;
  color: white;
  box-shadow: 165px 0px 0px -4px rgba(103, 103, 103, 1);
}

.tab-2 .react-tabs__tab--selected {
  background: linear-gradient(180deg, #303030 0%, #131313 100%);
  border-radius: 5px;
  border-color: #1c1d1f;
  border-left: 4px solid #ff00d6;
  color: white;
  box-shadow: -157px 0px 0px -4px rgb(103 103 103);
}
.react-tabs__tab-panel {
  display: none;
  background: linear-gradient(180deg, #303030 0%, #131313 100%);
  border-radius: 10px;
  width: 75%;
  height: 104%;
  padding: 5%;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab {
  padding: 10% 2%;
  margin-bottom: 27%;
}

.react-tabs__tab--selected {
  padding: 10% 2%;
}

.panel-content {
  text-align: center;
}

.tab-content p{
  font-size: 26px;
    font-weight: 500;
    text-align: initial;
}
.tab-content2 p{
  font-size: 26px;
    font-weight: 500;
    text-align: end;
}
.tab-content .text-btn{
  text-align: initial;
    padding: 3% 1%;
}
.tab-content2 .text-btn2{
  text-align: end;
    padding: 3% 1%;
}
.fetch2{
  padding-top: 5%;
  padding-bottom: 3%;
}
.tab-image img{
  height: 342px;
  width: 352px;
}
.tab-btn{
  background: #FFFFFF;
  color: #000;
  padding: 1.3% 4%;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
}