.nft-head h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 1%;
    
}
.nft-head p{
    font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 188.5%;
}
.nft-box{
    padding-top: 3%;
    padding-bottom: 2%;
}
.nft-para p{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 188.5%;

}
.nft-slider img{
    width: 60%;
}

.nft-line{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nft-line h1{
    font-style: normal;
font-weight: 800;
font-size: 54px;
line-height: 107%;
}
.nft-line img{
    width: 61%;
    height: 3px;
}
.nft-list li{
    list-style: circle;
    color: #FFFFFF;
    line-height: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}
.nft-slide{
    text-align: center;
}
 .swiper-slide .nft-slide img{
    display: unset;
}
.nft-1{
    width: 35% !important;
}