.about-main{
    padding-top: 2%;
    padding-bottom: 5%;
}


.about-content{
    text-align: right;
}

.about-content h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 107%;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 3%;
}
.about-content p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    text-align: right;
    color: #FFFFFF;
}

.about-btn-box{
    padding-top: 6%;
    padding-bottom: 2%;
}
.sketchfab-embed-wrapper{
    display: none;
}
.img-about{
    display: none;
}

@media (max-width:768px){
    .img-about{
        display: block;
        position: absolute;
        height: 75px;
        margin-top: -91px;
        left: 15px;
        width: 75px;
      
    }
    .sketchfab-embed-wrapper{
        display: block;
        text-align: center;
    }
    .about-img{
        display: none;
    }
    
    .about-content h1 {
        font-size: 55px;
    }

    .token-sec h1 {
        font-size: 50px;
        
    }
    iframe{
        width: 98%;
padding-bottom: 5%;
    }

    .about-content h1 {
       
        font-weight: 700;
        font-size: 48px;
        line-height: 107%;
        text-align: center;}
        .about-content p {
          
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            text-align: justify;
            color: #FFFFFF;
          }
          .about-btn-box {
            padding-top: 6%;
            padding-bottom: 2%;
            text-align: center;
          }

  
}